<div class="input-relative-wrapper" [class.is-disabled]="isDisabled">
  <span class="icon-addon-left">
    <i [class]="iconLock" pTooltip="Ver contraseña" tooltipPosition="bottom" tabindex="-1" (click)="toggleValue()"></i>
  </span>
  <input
    #passwordInput
    [type]="type"
    [value]="value"
    [placeholder]="placeholder"
    [disabled]="isDisabled"
    (input)="handleInput($event)"
    (blur)="onBlur()"
    (contextmenu)="$event.preventDefault()"
    class="input-field-custom"
    autocomplete="current-password"
  />
</div>
@if (isCapsLockOn) {
  <p-message class="mt-3" icon="pi pi-exclamation-triangle" severity="warn">La tecla Bloq Mayús está activa</p-message>
}
