/* @use 'tailwindcss'; */
@use "bootstrap/scss/bootstrap";

/* You can add global styles to this file, and also import other style files */
@use "primeicons/primeicons.css";

/* ══════════════════════════════════════════════════════════
 * SECCIÓN TAILWIND
 * ══════════════════════════════════════════════════════════ */

@tailwind base;
@tailwind components;
@tailwind utilities;

router-outlet + * {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

