/* @use 'tailwindcss'; */
@use "bootstrap/scss/bootstrap";

/* You can add global styles to this file, and also import other style files */
@use "primeicons/primeicons.css";

/* ══════════════════════════════════════════════════════════
 * SECCIÓN TAILWIND
 * ══════════════════════════════════════════════════════════ */

@tailwind base;
@tailwind components;
@tailwind utilities;

router-outlet + * {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

/* src/styles.scss */

@media (max-width: 768px) {
  /* Si el sidebar está abierto en móvil, se superpone */
  app-sidebar {
    position: absolute;
    height: 100vh;
    z-index: 50;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  }

  /* Forzamos que el contenido principal siempre ocupe el ancho total en móvil */
  .grid-cols-\[0px_1fr\] {
    grid-template-columns: 0px 1fr !important;
  }
}
